{
  "project_info": {
    "project_number": "REPLACE_WITH_FIREBASE_PROJECT_NUMBER",
    "project_id": "be-lahza-production",
    "storage_bucket": "be-lahza-production.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_FIREBASE_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.belahza.app"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_WITH_FIREBASE_WEB_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
